extends layout

block content
  h1= title
  p leonel  messi Greatest Of All Time #{title}
button(type="button", class="btn btn-secondary" onclick="update()") Press Me
br     
br
div(id="target") Display 
 script.
    var client_count=0
    function update(){
    client_count++;
    document.getElementById("target").innerHTML=`value now ${client_count}`
}